@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeInLeft {
    animation: fadeInLeft 1s ease-in-out forwards;
  }
  
  .animate-fadeInRight {
    animation: fadeInRight 1s ease-in-out forwards;
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-in-out forwards;
  }
  
  .animate-fadeInDown {
    animation: fadeInDown 1s ease-in-out forwards;
  }
  